entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    address: ":443"
    http:
      middlewares:
        - hsts@docker  # HSTSを全HTTPS通信に適用（@dockerはラベル側で定義）
      tls:
        certResolver: le
        domains:
          - main: go-pro-world.net
            sans:
              - "*.go-pro-world.net"

  traefik:
    address: ":8080"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
    network: proxy-tier

certificatesResolvers:
  le:
    acme:
      email: hisao52321983@gmail.com
      storage: /letsencrypt/acme.json
      tlsChallenge: {}

api:
  dashboard: true
  # 本番では "insecure: false" 推奨
  # 代わりにダッシュボードを Traefik 自身でリバースプロキシする
  insecure: true
